@{
    ViewBag.Title = "About";
}

<h2>Our Vision</h2>
<p style="text-wrap:normal">
    It's kind of hard to find a way to find places to hike or camp. Most people either go to recreation locations
    that they have been to previously or use word of mouth to find new locations. Hiking and camping dedicated
    websites typically only offer "Top Ten" lists or have a limited number of locations. Cookie Computing sought
    to fix that with a new tool, Tentsntrails.
    <br /><br />
    Tentsntrails is a web application that helps outdoor enthusiasts discover their next outdoor destination. 
    Users can add locations, search based on a variety of criteria, share pictures and videos taken on their 
    trip, and bookmark places that they enjoyed or would like to go to in the future. Locations can be rated 
    and reviewed so that people can share their outdoor experiences. The site data is completely user generated
    and monitored by our moderators. The site also has some social functionality, allowing users can connect and 
    interact with other users through organizing events and messaging their friends. Unlike other outdoor websites, 
    Tentsntrails offers a unique blend of discovery and social connectivity.</p>
<br />

<h2>About Cookie Computing</h2>
<p style ="text-wrap:normal">Senior students at Western Oregon University are separated into groups of four and 
    are tasked with working together to build a web application using the Agile software development methodology.
    Our team, comprised of Aaron Carson (<a href="https://github.com/aaroncarsonart">https://github.com/aaroncarsonart</a>),
    April Senner (<a href="https://github.com/sennera">https://github.com/sennera</a>), J.J. Garcia
    (<a href="https://github.com/juliangarcia11">https://github.com/juliangarcia11</a>), and Jared Petersen
    (<a href="https://github.com/jaredpetersen">https://github.com/jaredpetersen</a>). Cookie Computing uses the ASP.NET 
    EF 6 MVC 5 software stack to build the Tentsntrails application, Visual Studio Online with Team Foundation Server 
    for version control and code management, Microsoft Azure for web hosting, and Google Drive/Gmail for document 
    sharing and remote communication. Through working on this project, our team was able learn more about the 
    Agile development methodology, experience it in action, and gain an understanding of how companies 
    build software effectively.</p>
<br />
<img src="https://sites.google.com/a/mail.wou.edu/cookie_computing/about-us/groupPicture.jpg?attredirects=0" height="472" width="840">
<p>From left to right: Aaron Carson, Jared Petersen, April Senner, and J.J. Garcia</p>